[[index]]
[[dn_{{ yesterday }}]] | [[dn_{{ tomorrow }}]] 

# Thoughts
## I'm grateful for
- 
# Today I will
## my one thing

## I could also
- 
## tomorrow
- 
# Daily Log
## Today I accomplished
- 
## Today was great because

